name: generate README

on:
  schedule:
    - cron: '0 12 * * *'  # Every day at 12:00
  push:
    branches:
      - main

jobs:
  example-1:
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    name: Run notebook
    runs-on: ubuntu-latest
    env:
      TOKEN: ${{ secrets.TOKEN }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync
      - name: Run notebook
        run: |
          uv run python ipynb_filter.py
          uv run jupyter-nbconvert --execute --inplace --ExecutePreprocessor.timeout=3200 update-readme.ipynb
      - name: Commit files
        run: |
          git config --local user.email "bas@nijho.lt"
          git config --local user.name "Bas Nijholt"
          git commit -m "Add changes [skip ci]" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.TOKEN }}
